
.row {
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: black;
    color: white;
    padding: 1px;
}


#onepage {
    background-image: url(img/bridge.jpg);
    background-size: cover;
    height: 80vh;
    background-position: top;
}

#spring, #summer, #fall, #winter {
    background-size: cover;
    height: 40vh;
    transition-duration: 0.3s;
}

#spring {
    background-image: url(img/spring.jpg);
}

#summer {
    background-image: url(img/summer.jpg);
}

#fall {
    background-image: url(img/fall.jpg);
}

#winter {
    background-image: url(img/winter.jpg);
}


#fall1, #fall2, #fall3, #fall4 {
    height: 30vh;
    transition-duration: 0.7s;
}
    
#fall1 {
    background-color: deepskyblue;   
}

#fall2 {
    background-color: salmon;
}

#fall3 {
    background-color: lightseagreen;
}

#fall4 {
    background-color: peachpuff;
}


h1 {
    color: white;
/*    vertical-align: middle;*/
    padding-top: 10px;
    line-height: 1.5em;
}

#spring:hover, #summer:hover, #fall:hover, #winter:hover {
    opacity: .5;
    transition-duration: 0.3s;
}


#fall1:hover, #fall2:hover, #fall3:hover, #fall4:hover {
    background: grey;
    transition-duration: 0.3s;
}

